body {
  font-family: Arial;
  text-align: center;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
}

li {
  list-style: none;
  margin: 10px;
}